.header-color {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e54c8, #8f94fb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e54c8, #8f94fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.landing-grid {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e54c8, #8f94fb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e54c8, #8f94fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-img {
    height: 250px;
    padding-top: 5em;
}

.banner-text {
    background-color: black;
    opacity: 12;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 22px;
    padding: 1em;
}
